html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.navbar {
    margin-bottom: 0;
}

.discount-container {
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 5px;
}

.section-top {
    margin: 20px;
}

.footer {
    height: 200px;
    background-color: white;
    margin-top: 30px;
    clear: both;
    position: relative;
}

.product-item {
    height: 500px;
    background-color: white;
    border: 1px solid lightgray;
    position: relative;
    margin-top: 5px;
    border-radius: 3px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.product-item img {
    padding: 0 5px 0 5px;
}

.product-item h4, p {
   margin: 5px 5px 0 5px;
}


.add-to-cart-btn {
    position: absolute;
    bottom: 15px;
    left: 50px;
}

.section-delivery {
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.product-description {
    padding: 10px;
}

.product-image-item {
    padding: 5px;
    margin-bottom: 8px;
}

.navbar-top {
    min-height: 10px;
    height: 20px;
    background-color: #28a745;
    border: none;
}

.navbar-main {
    border: none;
}

.basket-container {
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 10;
    padding: 10px;
    background-color: #55e093;
}