{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'img/samsung-S8-banner-2.jpg' %}" alt="" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Новые поступления</h2>
                {% for product_image in products_images_new %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section-delivery">
        <div>
            <img src="{% static 'img/banner-S8-2.jpg' %}" alt="" class="img-responsive">
        </div>
    </div>
    <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Смартфоны</h2>
                {% for product_image in products_images_phones %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section3 laptops-container">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Ноутбуки</h2>
                {% for product_image in products_images_laptops %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}